<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Your head content here -->
</head>

<body > 
  <h2>Frand Licenses</h2>
  <h1>Explore FRAND technology licensing options below:</h1>
  <div class="square-container">
    <a routerLink="/mobile" class="square">
      <h1>Mobile communication</h1>
      <p>Mobile communication technology permits mobile handset users to connect with others from different locations..</p>
    </a>
    <a routerLink="/automotive" class="square grey-square">
      <h1 class="grey-text">Connected Vehicles</h1>
      <p class="grey-text">A connected vehicle allows drivers to access bi-directional communication between vehicles, handsets, and infrastructures.</p>
    </a>
    <a routerLink="/iot" class="square grey-square">
      <h1 class="grey-text">Internet of Things</h1>
      <p class="grey-text">A network technology that involves physical devices with sensors to collect and exchange data with other devices and systems over the internet.</p>
    </a>
    <a routerLink="/audiovisual" class="square grey-square">
      <h1 class="grey-text">Audiovisual electronics</h1>
      <p class="grey-text">Media technology uses codecs, such as MP3 for audio and H.264 for video, for efficient compression and decompression of audio and video data, enabling high-quality content storage, streaming, and playback.</p>
    </a>
  </div>
</body>

</html>
