
<br>
<br>
<br>
<br>

<div id="spiderChart" ></div>
<div class="checkbox-list">
  <label>
    <input type="checkbox" name="licensedIP" checked> Licensed IP
  </label>
  <label>
    <input type="checkbox" name="scopeOfLicense" checked> Scope of License
  </label>
  <label>
    <input type="checkbox" name="royaltyStructure" checked> Royalty Structure
  </label>
  <label>
    <input type="checkbox" name="paymentConditions" checked> Payment Conditions
  </label>
  <label>
    <input type="checkbox" name="compliance" checked> Compliance
  </label>
  <label>
    <input type="checkbox" name="territorialScope"> Territorial Scope
  </label>
  <label>
    <input type="checkbox" name="term"> Term
  </label>
  <label>
    <input type="checkbox" name="nonDisclosureRequirements"> Non-Disclosure Requirements
  </label>
  <label>
    <input type="checkbox" name="legal"> Legal
  </label>
  <label>
    <input type="checkbox" name="marketSituation"> Market Situation
  </label>
  <label>
    <input type="checkbox" name="patent"> Patent
  </label>
</div>
