<ul class="nav nav-tabs custom-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="activeTab === 'sales'"
      (click)="setActiveTab('sales')"
      >Tablet Sales Over Time</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeTab === 'sales'" (click)="setActiveTab('sales')">Sales Over Time</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeTab === 'comparison'" (click)="setActiveTab('comparison')">Sales Comparison</a>
  </li>

</ul>

<!-- Tab content -->
<div [ngSwitch]="activeTab">
  <div *ngSwitchCase="'sales'">
    <div id="tabletSalesDiv"></div>
  </div>
  <div *ngSwitchCase="'comparison'">
    <div id="tabletComparisonDiv"></div>
  </div>
</div>

<!-- Popup Overlay -->
<div *ngIf="isPopupVisible" class="popup-overlay">
  <div class="popup-content">
    <button class="popup-close" (click)="hidePopup()">×</button>
    <div [innerHTML]="popupText"></div>
  </div>
</div>
