<ul class="nav nav-tabs custom-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/sales"
      routerLinkActive="active"
      [queryParams]="{ tab: 'sales' }"
    >
      Smartphones
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/tablet-sales"
      routerLinkActive="active"
    >
      Tablets
    </a>
  </li>
</ul>


<!-- Tab content --><div >

<div [ngSwitch]="activeTab" class="plot-container">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="message-container">
      <img src="assets/4.gif" alt="Loading" class="loading-gif">
      <span class="loading-text">Loading data, please wait...</span>
    </div>
  </div>
  <div *ngSwitchCase="'sales'">
    <div id="tabletSalesDiv"></div>
  </div>
  <div *ngSwitchCase="'comparison'">
    <div id="tabletComparisonDiv"></div>
  </div>
</div>


<div class="chart-controls">
  <label for="chartType">Select Chart Type:</label>
  <select id="chartType" [(ngModel)]="currentPlotType" (change)="plotData()">
    <option value="bar">Stacked Bar</option>
    <option value="line">Line</option>
  </select>
</div>

<!-- Popup Overlay -->
<div *ngIf="isPopupVisible" class="popup-overlay">
  <div class="popup-content">
    <button class="btn-close" (click)="hidePopup()">&#x2715;</button>
    <div class="popup-text" [innerHTML]="popupText"></div>
  </div>
</div>
