
<div id='myDiv'></div>


<h1>{{ dynamicTitle }} :</h1>

<table class="existing-table">
  <thead>
    <tr >
      <th>ID</th>
      <th>License_ID</th>
      <th>Licensor</th>
      <th>Licensee</th>
      <th>Affiliate</th>
      <th>Indication</th>
      <th>Signed date</th>
      <!-- <th>Signed year quarter</th>
      <th>Expiration date</th>
      <th>Expiration year quarter</th>
      <th>Exists</th>
      <th>Exists during period start_date</th>
      <th>Exists during period end date</th>
      <th>Does not exist period start date</th>
      <th>Does not exist period end date</th>
      <th>Action period start date</th>
      <th>Legal action period end date</th> -->
      <th>Information Type</th>
      <th>2G</th>
      <th>3G</th>
      <th>4G</th>
      <th>5G</th>
      <th>6G</th>
      <th>WiFi</th>
      <th>Other technologies</th>
      <th>Payment Amount (in thousands USD)</th>
      <th>Payment type</th>
      <th>Geographical scope</th>
      <th>Details</th>
      <th>Document date</th>

    </tr>
  </thead>
  <tbody>
    <!-- Use Angular directives to iterate over your data and fill the table rows -->
    <ng-container *ngFor="let item of filteredDataDefined">
      <tr>

        <td>{{ item.id }}</td>
        <td>{{ item.license_ID }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.affiliate }}</td>
        <td>{{ item.indication }}</td>
        <td>{{ item.signed_date }}</td>
        <!-- <td>{{ item.signed_year_quarter}}</td>
        <td>{{ item.expiration_date }}</td>
        <td>{{ item.expiration_year_quarter}}</td>
        <td>{{ item.exist}}</td>
        <td>{{ item.exists_during_period_start_date}}</td>
        <td>{{ item.exists_during_period_end_date}}</td>
        <td>{{ item.does_not_exist_period_start_date}}</td>
        <td>{{ item.does_not_exist_period_end_date}}</td>
        <td>{{ item.legal_action_period_start_date}}</td>
        <td>{{ item.legal_action_period_end_date}}</td> -->
        <td>{{ item.information_type }}</td>
        <td>{{ item._2G }}</td>
        <td>{{ item._3G }}</td>
        <td>{{ item._4G }}</td>
        <td>{{ item._5G }}</td>
        <td>{{ item._6G }}</td>
        <td>{{ item.wiFi }}</td>
        <td>{{ item.other_technologies }}</td>
        <td>{{ item.payment_amount }}</td>
        <td>{{ item.payment_type }}</td>
        <td>{{ item.geographical_scope }}</td>
        <td>{{ item.document_name }}</td>
        <td>{{ item.document_date}}</td>
        <td>
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing"> <!-- Only show if item.editing is true -->
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.document_name, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <button *ngIf="item.modified" (click)="undoUpdateLicense(item)">-</button>
        </td>

         
      </tr>
    </ng-container>
  </tbody>
</table>






<h1>{{this.licensorName}} Vs. Unknown :</h1>
<table class="unknown-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>License_ID</th>
      <th>Licensor</th>
      <th>Licensee</th>
      <th>Affiliate</th>
      <th>Indication</th>
      <th>Signed date</th>
      <!-- <th>Signed year quarter</th>
      <th>Expiration date</th>
      <th>Expiration year quarter</th>
      <th>Exists</th>
      <th>Exists during period start_date</th>
      <th>Exists during period end date</th>
      <th>Does not exist period start date</th>
      <th>Does not exist period end date</th>
      <th>Action period start date</th>
      <th>Legal action period end date</th> -->
      <th>Information Type</th>
      <th>2G</th>
      <th>3G</th>
      <th>4G</th>
      <th>5G</th>
      <th>6G</th>
      <th>WiFi</th>
      <th>Other technologies</th>
      <th>Payment Amount (in thousands USD)</th>
      <th>Payment type</th>
      <th>Geographical scope</th>
      <th>Details</th>
      <th>Document date</th>

    </tr>
  </thead>
  <tbody>
    <!-- Use Angular directives to iterate over your data and fill the table rows -->
    <ng-container *ngFor="let item of filteredDataUnknown">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.license_ID }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.affiliate }}</td>
        <td>{{ item.indication }}</td>
        <td>{{ item.signed_date }}</td>
        <!-- <td>{{ item.signed_year_quarter}}</td>
        <td>{{ item.expiration_date }}</td>
        <td>{{ item.expiration_year_quarter}}</td>
        <td>{{ item.exist}}</td>
        <td>{{ item.exists_during_period_start_date}}</td>
        <td>{{ item.exists_during_period_end_date}}</td>
        <td>{{ item.does_not_exist_period_start_date}}</td>
        <td>{{ item.does_not_exist_period_end_date}}</td>
        <td>{{ item.legal_action_period_start_date}}</td>
        <td>{{ item.legal_action_period_end_date}}</td> -->
        <td>{{ item.information_type }}</td>
        <td>{{ item._2G }}</td>
        <td>{{ item._3G }}</td>
        <td>{{ item._4G }}</td>
        <td>{{ item._5G }}</td>
        <td>{{ item._6G }}</td>
        <td>{{ item.wiFi }}</td>
        <td>{{ item.other_technologies }}</td>
        <td>{{ item.payment_amount }}</td>
        <td>{{ item.payment_type }}</td>
        <td>{{ item.geographical_scope }}</td>
        <td>{{ item.document_name }}</td>
        <td>{{ item.document_date}}</td>
        <td>
          <!-- Editable field -->
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing"> <!-- Only show if item.editing is true -->
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.document_name, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <button (click)="updateRow(item)">+</button>
        </td>


      </tr>
    </ng-container>
  </tbody>
</table>




<h1>Multiple licensees table</h1>

<h1>{{ dynamicTitle }} :</h1>

<table class="existing-table">
  <thead>
    <tr>
      <td>ID</td>
      <td>license ID</td>
      <td>licensor</td>
      <td>licensee</td>
      <td>affiliate</td>
      <td>multiplier</td>
      <td>qualifiers</td>
      <td>signed date start</td>
      <td>signed date end</td>
      <td>signed year quarter</td>
      <td>expiration date start</td>
      <td>expiration date end</td>
      <td>expiration year quarter</td>
      <td>information type</td>
      <td>technologies</td>
      <td>payment amount</td>
      <td>payment type</td>
      <td>geographical scope</td>
      <td>details</td>
      <td>document name</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of filteredMultipleLicenses; let i = index">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.license_id }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.affiliate }}</td>
        <td>{{ item.multiplier }}</td>
        <td>{{ item.qualifiers }}</td>
        <td>{{item.signed_date_start}}</td>
        <td>{{item.signed_date_end}}</td>
        <td>{{item.signed_year_quarter}}</td>
        <td>{{item.expiration_date_start}}</td>
        <td>{{item.expiration_date_end}}</td>
        <td>{{item.expiration_year_quarter}}</td>
        <td>{{item.information_type}}</td>
        <td>{{item.technologies}}</td>
        <td>{{item.payment_amount}}</td>
        <td>{{item.payment_type}}</td>
        <td>{{item.geographical_scope}}</td>
        <!-- <td>{{item.details}}</td> -->
        <td>{{item.document_name}}</td>
        <td>
          <!-- Editable field -->
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing"> <!-- Only show if item.editing is true -->
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.document_name, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <!-- <button *ngIf="item.modified" (click)="undoUpdateLicenseForMultipleTables()">Unknown</button> -->
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<h1>{{this.licensorName}} Vs. Multiple Unknowns :</h1>

<table class="unknown-table">
  <thead>
    <tr>
      <td>ID</td>
      <td>license ID</td>
      <td>licensor</td>
      <td>licensee</td>
      <td>affiliate</td>
      <td>multiplier</td>
      <td>qualifiers</td>
      <td>signed date start</td>
      <td>signed date end</td>
      <td>signed year quarter</td>
      <td>expiration date start</td>
      <td>expiration date end</td>
      <td>expiration year quarter</td>
      <td>information type</td>
      <td>technologies</td>
      <td>payment amount</td>
      <td>payment type</td>
      <td>geographical scope</td>
      <td>details</td>
      <td>document name</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of multipleLicenses; let i = index">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.license_id }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.affiliate }}</td>
        <td>{{ item.multiplier }}</td>
        <td>{{ item.qualifiers }}</td>
        <td>{{item.signed_date_start}}</td>
        <td>{{item.signed_date_end}}</td>
        <td>{{item.signed_year_quarter}}</td>
        <td>{{item.expiration_date_start}}</td>
        <td>{{item.expiration_date_end}}</td>
        <td>{{item.expiration_year_quarter}}</td>
        <td>{{item.information_type}}</td>
        <td>{{item.technologies}}</td>
        <td>{{item.payment_amount}}</td>
        <td>{{item.payment_type}}</td>
        <td>{{item.geographical_scope}}</td>
        <!-- <td>{{item.details}}</td> -->
        <td>{{item.document_name}}</td>
        <td>
          <!-- Editable field -->
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing"> <!-- Only show if item.editing is true -->
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.document_name, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <!-- <ng-container *ngIf="uniqueLicensees.length > 0">
            <select [(ngModel)]="item.selectedLicensee" [id]="'licenseeSelect-' + item.id">
              <option value="" selected>Select Known Licensee to add :</option>

              <option *ngFor="let licensee of uniqueLicensees" [value]="licensee">{{ licensee }}</option>

            </select>
            <button (click)="addToKnownLicensees(item.id, item.selectedLicensee)">Add to known licensees</button>
          </ng-container> -->
          <button (click)="updateMultipleLicenses(item)">+</button>

        </td>
        
      </tr>

    </ng-container>
  </tbody>
</table>
