/* licensing-revenues.component.css */

@font-face {
  font-family: "ROG Fonts";
  src: url("src/assets/7032-fontps.ttf") format("truetype");
}
.licensing-revenues-container {
  max-width: 900px;
  margin: 0 auto; /* Center the container */
  padding: 20px;
  text-align: center;
}

.licensing-revenues-container h2 {
  margin-bottom: 20px;
}

.plot-container {
  width: 100%;
  height: 500px;
  margin-bottom: 40px; /* Add spacing between plots if needed */
}

#licensorPaymentsPlot, #overallDiv {
  width: 100%;
  height: 100%;
}

.loading-indicator {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}
/* Shared styles for input and search boxes */
.shared-input-style {
  max-width: 900px;
  margin: 0 auto; /* Center the input */
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box; /* Include padding and border in element's total size */
}

.shared-input-style:focus {
  border-color: #4e7ebf; /* Add a blue border on focus */
}

/* Button styles */
.shared-button-style {
  background-color: #4e7ebf;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 5px;
}

.shared-button-style:hover {
  background-color: #0056b3;
}
h1 {
  color: #8EBBDA;
  font-size: 17.5px;
  font-family:  'ROG Fonts';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
  padding-top: 46px;
}
