<div>
  <h2>Licensing Overview</h2>

  <!-- Dropdown for Licensor Selection -->
  <div class="licensing-revenues-container">
    <select
      id="licensor"
      class="shared-input-style"
      [(ngModel)]="selectedLicensor"
      (change)="onLicensorChange()"
    >
      <option value="" disabled selected>Select Licensor</option>
      <option *ngFor="let licensor of licensors" [value]="licensor">{{ licensor }}</option>
    </select>
    <button
      class="shared-button-style"
      (click)="onLicensorChange()"
    >
    🔍
    </button>
  </div>

  <!-- Plot Containers -->
  <div class="plot-container">
    <div id="licensorPaymentsPlot"></div>
    <div id="overallDiv"></div>
  </div>

  <!-- No Data Message -->
  <div *ngIf="groupedLicenseData.length === 0">
    <p>No data available for this licensor.</p>
  </div>

  <!-- Loading Template -->
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
