<div>
  <h2>Licensing Overview</h2>

  <!-- Dropdown for Licensor Selection -->
  <label for="licensor">Select Licensor:</label>
  <select id="licensor" [(ngModel)]="selectedLicensor" (change)="onLicensorChange()">
    <option *ngFor="let licensor of licensors" [value]="licensor">{{ licensor }}</option>
  </select>
  <button (click)="onLicensorChange()">Fetch Licensor Data</button>

  <!-- Check if groupedLicenseData has data -->

      <div id="licensorPaymentsPlot"></div>
      <div id="overallDiv"></div>

    <div *ngIf="groupedLicenseData.length === 0">
      <p>No data available for this licensor.</p>
    </div>


  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
