@font-face {
    font-family: 'ROG Fonts';
    src: url('src/assets/7032-fontps.ttf') format('truetype');
  }
  table {
    width: 200px;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Style the table headers */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  /* Style the table cells */
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  /* Style the table rows alternatively for better readability */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style the images in the "Screenshot" column */
  td img {
    max-width: 100px; /* Adjust the maximum width of the images */
    height: auto; /* Maintain the aspect ratio of the images */
    cursor: pointer; /* Add a pointer cursor to indicate they are clickable */
    transition: transform 0.2s; /* Add a smooth transition effect */
  }
  
  /* Apply a zoom effect to images on hover */
  td img:hover {
    transform: scale(1.1);
  }
  /* Style the pop-up overlay */
  .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    text-align: center;
  }
  td button {
    margin-bottom: 10px; /* Add space between the button and the div */
  }
  /* Style the pop-up content */
  td div {
    border: 2px solid black; /* Adjust border width and color as needed */
    padding: 10px; /* Adjust padding as needed */
    width: 200px; /* Set the width of the square frame */
    height: 200px; /* Set the height of the square frame */
    overflow: auto; /* Enable overflow scrolling if content exceeds dimensions */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  
  .popup img {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    color: #E57A45;
    font-family: 'ROG Fonts', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin-left:100px; /* Reset margin for h1 */
    margin-top: 50px;  
  }
  /* Styles for the popup overlay */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    width:1000px;
    height: 800px;
    background-color: white; /* White background for content */
    padding: 20px;
    overflow: hidden; /* Prevent scrolling if content exceeds dimensions */
  }
  
  .modified-row {
    background-color: lightgreen; /* Change this to the desired shade of green */
  }
  