<!-- Table for rows with defined licensee -->

<!-- Tab Navigation -->
<ul class="nav nav-tabs custom-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/license" routerLinkActive="active">Licenses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/payment" routerLinkActive="active">Payments</a>
  </li>

</ul>

<!-- Content will be rendered here based on the active route -->

  <div id='myDiv'></div>


  <h1>Payment :</h1>
  <h1>{{ dynamicTitle }} :</h1>

  <table class="terms-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Snippet ID</th>
        <th>Mapping ID</th>
        <th>Pair ID</th>
        <th>Licensor</th>
        <th>Licensee</th>
        <th>Licensee Affiliate</th>
        <th>License Sales</th>
        <th>Indication</th>
        <th>Year</th>
        <th>Yearly Quarters</th>
        <th>Period start</th>
        <th>Period end</th>
        <th>Information Type</th>
        <th>Payment Amount(in thousands)</th>
        <th>Payment Amount in Local Currency (in thousands)</th>
        <th>Local Currency</th>
        <th>Royalty rate dollar</th>
        <th>Royalty rate per</th>
        <th>Royalty min dollar</th>
        <th>Royalty min per</th>
        <th>Royalty max dollar</th>
        <th>Royalty max per;</th>
        <th>Percentage Value</th>
        <th>Percentage_indication</th>
        <th>Payment Type</th>
        <th>Directory Path</th>
        <th>Document Name</th>
        <th>Document Date</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of filteredDataDefined">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.snippet_id }}</td>
          <td>{{ item.mapping_id }}</td>
          <td>{{ item.pair_id }}</td>
          <td>{{ item.licensor }}</td>
          <td>{{ item.licensee }}</td>
          <td>{{ item.licensee_Affiliate }}</td>
          <td>{{ item.license_sales }}</td>
          <td>{{ item.indication }}</td>
          <td>{{ item.year }}</td>
          <td>{{ item.quarter }}</td>
          <td>{{ item.period_start }}</td>
          <td>{{ item.period_end }}</td>
          <td>{{ item.information_type }}</td>
          <td>{{ item.payment_amount }}</td>
          <td>{{ item.payment_amount_in_local_currency }}</td>
          <td>{{ item.local_currency }}</td>
          <td>{{ item.royalty_rate_dollar }}</td>
          <td>{{ item.royalty_rate_per }}</td>
          <td>{{ item.royalty_min_dollar }}</td>
          <td>{{ item.royalty_min_per }}</td>
          <td>{{ item.royalty_max_dollar }}</td>
          <td>{{ item.royalty_max_per }}</td>
          <td>{{ item.percentage_value }}</td>
          <td>{{ item.percentage_indication }}</td>
          <td>{{ item.payment_type }}</td>
          <td>{{ item.directory_path }}</td>
          <td>{{ item.document_name }}</td>
          <td>{{ item.document_date }}</td>
          <td>
            <div *ngIf="!item.editing && item.showDetails; else editingMode">
              {{ item.details }}
            </div>
            <ng-template #editingMode>
              <span *ngIf="item.editing">
                <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
                <button (click)="saveDetails(item)">Save</button>
                <button (click)="cancelEditing(item)">Cancel</button>
              </span>
            </ng-template>
            <br>
            <button (click)="toggleEditingMode(item)">Edit</button>
            <button (click)="toggleDetailsVisibility(item)">
              {{ item.showDetails ? 'Hide' : 'Show' }}
            </button>            <button (click)="openPDFViewerPopup(item.directory_path, item.details)">Open PDF</button>
          </td>
          <td>
            <ng-container *ngIf="uniquePayments.length > 0">
              <select [(ngModel)]="item.selectedMappingId" [id]="'mappingIdSelect-' + item.id">
                <option value="" selected>Select Mapping ID to add :</option>
                <!-- Iterate over the filteredMappingIds array -->
                <ng-container *ngFor="let mappingId of filterMappingIds(item, 'payments')">
                  <option [value]="mappingId">{{ mappingId }}</option>
                </ng-container>
              </select>
            </ng-container>


            <button (click)="AddMappingId(item.id, item, 'payments')">Mapping</button>
            <button (click)="deleteMappingId(item.id)">Delete Mapping ID</button>

            <button *ngIf="item.modified" (click)="openFeedbackAfterUndoPayment(item)">Undo</button>
            <button (click)="deletePayment(item.id)">Delete Record</button>

          </td>


          <td (mouseenter)="showCommentTooltip(item)" (mouseleave)="hideCommentTooltip(item)">
            <ng-container *ngIf="item.comment !== null && item.comment !== ''">
              <img class="icon" [class.hidden]="item.showComment" src="assets/question-mark-round-icon.png"
                alt="Question Mark Icon">
              <div class="tooltip" [class.active]="item.showComment">{{ item.comment }}</div>
            </ng-container>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </table>


  <h1>Unknown Payments :</h1>
  <h1>{{ dynamicTitle }} :</h1>
  <table class="unknown-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Snippet ID</th>
        <th>Mapping ID</th>
        <th>Pair ID</th>
        <th>Licensor</th>
        <th>Licensee</th>
        <th>Licensee Affiliate</th>
        <th>License Sales</th>
        <th>Indication</th>
        <th>Year</th>
        <th>Yearly Quarters</th>
        <th>Period start</th>
        <th>Period end</th>
        <th>Information Type</th>
        <th>Payment Amount(in thousands)</th>
        <th>Payment Amount in Local Currency (in thousands)</th>
        <th>Local Currency</th>
        <th>Royalty rate dollar</th>
        <th>Royalty rate per</th>
        <th>Royalty min dollar</th>
        <th>Royalty min per</th>
        <th>Royalty max dollar</th>
        <th>Royalty max per;</th>
        <th>Percentage Value</th>
        <th>Percentage_indication</th>
        <th>Payment Type</th>
        <th>Directory Path</th>
        <th>Document Name</th>
        <th>Document Date</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of filteredDataUnknown">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.snippet_id }}</td>
          <td>{{ item.mapping_id }}</td>
          <td>{{ item.pair_id }}</td>
          <td>{{ item.licensor }}</td>
          <td>{{ item.licensee }}</td>
          <td>{{ item.licensee_Affiliate }}</td>
          <td>{{ item.license_sales }}</td>
          <td>{{ item.indication }}</td>
          <td>{{ item.year }}</td>
          <td>{{ item.quarter }}</td>
          <td>{{ item.period_start }}</td>
          <td>{{ item.period_end }}</td>
          <td>{{ item.information_type }}</td>
          <td>{{ item.payment_amount }}</td>
          <td>{{ item.payment_amount_in_local_currency }}</td>
          <td>{{ item.local_currency }}</td>
          <td>{{ item.royalty_rate_dollar }}</td>
          <td>{{ item.royalty_rate_per }}</td>
          <td>{{ item.royalty_min_dollar }}</td>
          <td>{{ item.royalty_min_per }}</td>
          <td>{{ item.royalty_max_dollar }}</td>
          <td>{{ item.royalty_max_per }}</td>
          <td>{{ item.percentage_value }}</td>
          <td>{{ item.percentage_indication }}</td>
          <td>{{ item.payment_type }}</td>
          <td>{{ item.directory_path }}</td>
          <td>{{ item.document_name }}</td>
          <td>{{ item.document_date }}</td>
          <td>
            <div *ngIf="!item.editing && item.showDetails; else editingMode">
              {{ item.details }}
            </div>
            <ng-template #editingMode>
              <span *ngIf="item.editing">
                <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
                <button (click)="saveDetails(item)">Save</button>
                <button (click)="cancelEditing(item)">Cancel</button>
              </span>
            </ng-template>
            <br>
            <button (click)="toggleEditingMode(item)">Edit</button>
            <button (click)="toggleDetailsVisibility(item)">
              {{ item.showDetails ? 'Hide' : 'Show' }}
            </button>
              <button (click)="openPDFViewerPopup(item.directory_path, item.details)">PDF</button>
          </td>
          <td>
            <button (click)="openFeedbackAfterUpdate(item)">Add</button>
            <button (click)="deleteMappingId(item.id)">Delete Mapping ID</button>

            <button (click)="deletePayment(item.id)">Delete Record</button>

          </td>
          <td (mouseenter)="showCommentTooltip(item)" (mouseleave)="hideCommentTooltip(item)">
            <ng-container *ngIf="item.comment !== null && item.comment !== ''">
              <img class="icon" [class.hidden]="item.showComment" src="assets/question-mark-round-icon.png"
                alt="Question Mark Icon">
              <div class="tooltip" [class.active]="item.showComment">{{ item.comment }}</div>
            </ng-container>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </table>


  <h1>Payment from multiple licensees</h1>
  <h1>{{ dynamicTitle }} :</h1>
  <table class="knownMP-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Snippet ID</th>
        <th>Mapping ID</th>
        <th>Licensor</th>
        <th>Licensee</th>
        <td>indiv licensee</td>
        <th>Licensee Affiliate</th>
        <th>Multiplier</th>
        <th>Qualifiers</th>
        <th>License Sales</th>
        <th>Year</th>
        <th>Yearly Quarters</th>
        <th>Period start</th>
        <th>Period end</th>
        <th>Information Type</th>
        <th>Payment Amount (in thousands of US dollars)</th>
        <th>Payment Amount in Local Currency (in thousands)</th>
        <th>Local Currency</th>
        <th>Percentage Value</th>
        <th>Payment Type</th>
        <th>Directory Path</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of filteredMultiplePayments">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.snippet_id }}</td>
          <td>{{ item.mapping_id }}</td>
          <td>{{ item.licensor }}</td>
          <td>{{ item.licensee }}</td>
          <td>{{ item.indiv_licensee }}</td>
          <td>{{ item.licensee_Affiliate }}</td>
          <td>{{ item.multiplier }}</td>
          <td>{{ item.qualifiers }}</td>
          <td>{{ item.license_sales }}</td>
          <td>{{ item.year }}</td>
          <td>{{ item.yearly_quarters }}</td>
          <td>{{ item.period_start }}</td>
          <td>{{ item.period_end }}</td>
          <td>{{ item.Information_type }}</td>
          <td>{{ item.payment_amount }}</td>
          <td>{{ item.payment_amount_in_local_currency }}</td>
          <td>{{ item.local_currency }}</td>
          <td>{{ item.percentage_value }}</td>
          <td>{{ item.payment_type }}</td>
          <td>{{ item.directory_path }}</td>

          <td>
            <div *ngIf="!item.editing && item.showDetails; else editingMode">
              {{ item.details }}
            </div>
            <ng-template #editingMode>
              <span *ngIf="item.editing">
                <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
                <button (click)="saveMPDetails(item)">Save</button>
                <button (click)="cancelEditing(item)">Cancel</button>
              </span>
            </ng-template>
            <br>
            <button (click)="toggleEditingMode(item)">Edit</button>
            <button (click)="toggleDetailsVisibility(item)">
              {{ item.showDetails ? 'Hide' : 'Show' }}
            </button>            <button (click)="openPDFViewerPopup(item.directory_path, item.details)">PDF</button>
          </td>
          <td>
            <ng-container *ngIf="uniquePayments.length > 0">
              <select [(ngModel)]="item.selectedMappingId" [id]="'mappingIdSelect-' + item.id">
                <option value="" selected>Select Mapping ID to add :</option>
                <!-- Iterate over the filteredMappingIds array -->
                <ng-container *ngFor="let mappingId of filterMappingIds(item, 'multiplePayments')">
                  <option [value]="mappingId">{{ mappingId }}</option>
                </ng-container>
              </select>
            </ng-container>


            <button (click)="AddMappingId(item.id, item, 'multiplePayments')">Mapping</button>
            <button (click)="deleteMPMappingId(item.id)">Delete Mapping ID</button>

            <button *ngIf="item.modified" (click)="openFeedbackAfterUndoMP(item)">Undo</button>
            <button (click)="deleteMultiplePayment(item.id)">Delete Record</button>
          </td>

          <td (mouseenter)="showCommentTooltip(item)" (mouseleave)="hideCommentTooltip(item)">
            <ng-container *ngIf="item.comment !== null && item.comment !== ''">
              <img class="icon" [class.hidden]="item.showComment" src="assets/question-mark-round-icon.png"
                alt="Question Mark Icon">
              <div class="tooltip" [class.active]="item.showComment">{{ item.comment }}</div>
            </ng-container>
          </td>


        </tr>
      </ng-container>
    </tbody>
  </table>


  <h1>Payments from multiple unknowns :</h1>
<h1>{{ dynamicTitle }} :</h1>
<table class="unknownMP-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Snippet ID</th>
      <th>Mapping ID</th>
      <th>Licensor</th>
      <th>Licensee</th>
      <td>indiv licensee</td>
      <th>Licensee Affiliate</th>
      <th>Multiplier</th>
      <th>Qualifiers</th>
      <th>License Sales</th>
      <th>Year</th>
      <th>Yearly Quarters</th>
      <th>Period start</th>
      <th>Period end</th>
      <th>Information Type</th>
      <th>Payment Amount (in thousands of US dollars)</th>
      <th>Payment Amount in Local Currency (in thousands)</th>
      <th>Local Currency</th>
      <th>Percentage Value</th>
      <th>Payment Type</th>
      <th>Directory Path</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of multiplePayments; let i = index">
        <tr *ngIf="(item.multiplier > 0 &&
                     item.indiv_licensee === null &&
                     !(item.licensee && item.licensee.includes(licenseeName))) ||
                    (item.multiplier > 0 && item.licensee === null)">

        <td>{{ item.id }}</td>
        <td>{{ item.snippet_id }}</td>
        <td>{{ item.mapping_id }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.indiv_licensee }}</td>
        <td>{{ item.licensee_Affiliate }}</td>
        <td>{{ item.multiplier }}</td>
        <td>{{ item.qualifiers }}</td>
        <td>{{ item.license_sales }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.yearly_quarters }}</td>
        <td>{{ item.period_start }}</td>
        <td>{{ item.period_end }}</td>
        <td>{{ item.information_type }}</td>
        <td>{{ item.payment_amount }}</td>
        <td>{{ item.payment_amount_in_local_currency }}</td>
        <td>{{ item.local_currency }}</td>
        <td>{{ item.percentage_value }}</td>
        <td>{{ item.payment_type }}</td>
        <td>{{ item.directory_path }}</td>
        <td>
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing">
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveMPDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">
            {{ item.showDetails ? 'Hide' : 'Show' }}
          </button>
          <button (click)="openPDFViewerPopup(item.directory_path, item.details)">PDF</button>
        </td>
        <td>
          <button (click)="openFeedbackAfterUpdateMultiplePayments(item)">Add</button>
          <button (click)="deleteMPMappingId(item.id)">Delete Mapping ID</button>
          <button (click)="deleteMultiplePayment(item.id)">Delete Record</button>
        </td>
        <td (mouseenter)="showCommentTooltip(item)" (mouseleave)="hideCommentTooltip(item)">
          <ng-container *ngIf="item.comment !== null && item.comment !== ''">
            <img class="icon" [class.hidden]="item.showComment" src="assets/question-mark-round-icon.png"
              alt="Question Mark Icon">
            <div class="tooltip" [class.active]="item.showComment">{{ item.comment }}</div>
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>


<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
    <app-example-pdf-viewer [pdfSrc]="selectedPDF"></app-example-pdf-viewer>
    <div class="button-container">
      <button (click)="closePopup()">Close</button>
    </div>
  </div>
</div>
