<!-- Table for rows with defined licensee -->

<div id='myDiv'></div>

<h1>Payment :</h1>
<h1>{{ dynamicTitle }} :</h1>
<table class="terms-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Snippet ID</th>
      <th>Pair ID</th>
      <th>Licensor</th>
      <th>Licensee</th>
      <th>Licensee Affiliate</th>
      <th>License Sales</th>
      <th>Indication</th>
      <th>Year</th>
      <th>Yearly Quarters</th>
      <th>Information Type</th>
      <th>Payment Amount(in thousands)</th>
      <th>Payment Amount in Local Currency (in thousands)</th>
      <th>Local Currency</th>
      <th>Royalty Rate</th>
      <th>Royalty Min</th>
      <th>Royalty Max</th>
      <th>Percentage Value</th>
      <th>Payment Type</th>
      <th>Directory Path</th>
      <th>Document Name</th>
      <th>Document Date</th>
      <th>Edit / Details</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of filteredDataDefined">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.snippet_id }}</td>
        <td>{{ item.pair_id }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.licensee_Affiliate }}</td>
        <td>{{ item.license_sales }}</td>
        <td>{{ item.indication }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.yearly_quarters }}</td>
        <td>{{ item.information_type }}</td>
        <td>{{ item.payment_amount }}</td>
        <td>{{ item.payment_amount_in_local_currency }}</td>
        <td>{{ item.local_currency }}</td>
        <td>{{ item.royalty_rate }}</td>
        <td>{{ item.royalty_min }}</td>
        <td>{{ item.royalty_max }}</td>
        <td>{{ item.percentage_value }}</td>
        <td>{{ item.payment_type }}</td>
        <td>{{ item.directory_path }}</td>
        <td>{{ item.document_name }}</td>
        <td>{{ item.document_date }}</td>
        <td>
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing">
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.directory_path, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <button *ngIf="item.modified" (click)="undoUpdatePayment(item)">Unknown</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>


<h1>Unknown Payments :</h1>
<h1>{{ dynamicTitle }} :</h1>
<table class="terms-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Snippet ID</th>
      <th>Pair ID</th>
      <th>Licensor</th>
      <th>Licensee</th>
      <th>Licensee Affiliate</th>
      <th>License Sales</th>
      <th>Indication</th>
      <th>Year</th>
      <th>Yearly Quarters</th>
      <th>Information Type</th>
      <th>Payment Amount(in thousands)</th>
      <th>Payment Amount in Local Currency (in thousands)</th>
      <th>Local Currency</th>
      <th>Royalty Rate</th>
      <th>Royalty Min</th>
      <th>Royalty Max</th>
      <th>Percentage Value</th>
      <th>Payment Type</th>
      <th>Directory Path</th>
      <th>Document Name</th>
      <th>Document Date</th>
      <th>Edit / Details</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of filteredDataUnknown">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.snippet_id }}</td>
        <td>{{ item.pair_id }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.licensee_Affiliate }}</td>
        <td>{{ item.license_sales }}</td>
        <td>{{ item.indication }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.yearly_quarters }}</td>
        <td>{{ item.information_type }}</td>
        <td>{{ item.payment_amount }}</td>
        <td>{{ item.payment_amount_in_local_currency }}</td>
        <td>{{ item.local_currency }}</td>
        <td>{{ item.royalty_rate }}</td>
        <td>{{ item.royalty_min }}</td>
        <td>{{ item.royalty_max }}</td>
        <td>{{ item.percentage_value }}</td>
        <td>{{ item.payment_type }}</td>
        <td>{{ item.directory_path }}</td>
        <td>{{ item.document_name }}</td>
        <td>{{ item.document_date }}</td>
        <td>
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing">
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.directory_path, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <button (click)="updatePayment(item)">+</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>


<h1>Payment from multiple licensees</h1>
<h1>{{ dynamicTitle }} :</h1>
<table class="knownMP-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Snippet ID</th>
      <th>Licensor</th>
      <th>Licensee</th>
      <th>Licensee Affiliate</th>
      <th>Multiplier</th>
      <th>Qualifiers</th>
      <th>License Sales</th>
      <th>Year</th>
      <th>Yearly Quarters</th>
      <th>Information Type</th>
      <th>Payment Amount (in thousands of US dollars)</th>
      <th>Payment Amount in Local Currency (in thousands)</th>
      <th>Local Currency</th>
      <th>Percentage Value</th>
      <th>Payment Type</th>
      <th>Statement</th>
      <th>Directory Path</th>
      <th>Actions</th>
      <th>comment</th>

    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of filteredMultiplePayments">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.snippet_id }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.licensee_Affiliate }}</td>
        <td>{{ item.multiplier }}</td>
        <td>{{ item.qualifiers }}</td>
        <td>{{ item.License_sales }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.Yearly_quarters }}</td>
        <td>{{ item.Information_type }}</td>
        <td>{{ item.Payment_amount }}</td>
        <td>{{ item.Payment_amount_in_local_currency }}</td>
        <td>{{ item.Local_currency }}</td>
        <td>{{ item.percentage_value }}</td>
        <td>{{ item.Payment_type }}</td>
        <td>{{ item.directory_path }}</td>
        <th>{{ item.comment }}</th>


        <td>
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing">
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.directory_path, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <button *ngIf="item.modified" (click)="undoUpdatePayment(item)">Unknown</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>


<h1>Payments from multiple unknowns :</h1>
<h1>{{ dynamicTitle }} :</h1>
<table class="unknownMP-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Snippet ID</th>
      <th>Licensor</th>
      <th>Licensee</th>
      <th>Licensee Affiliate</th>
      <th>Multiplier</th>
      <th>Qualifiers</th>
      <th>License Sales</th>
      <th>Year</th>
      <th>Yearly Quarters</th>
      <th>Information Type</th>
      <th>Payment Amount (in thousands of US dollars)</th>
      <th>Payment Amount in Local Currency (in thousands)</th>
      <th>Local Currency</th>
      <th>Percentage Value</th>
      <th>Payment Type</th>
      <th>Directory Path</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of multiplePayments">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.snippet_id }}</td>
        <td>{{ item.licensor }}</td>
        <td>{{ item.licensee }}</td>
        <td>{{ item.licensee_Affiliate }}</td>
        <td>{{ item.multiplier }}</td>
        <td>{{ item.qualifiers }}</td>
        <td>{{ item.License_sales }}</td>
        <td>{{ item.year }}</td>
        <td>{{ item.Yearly_quarters }}</td>
        <td>{{ item.Information_type }}</td>
        <td>{{ item.Payment_amount }}</td>
        <td>{{ item.Payment_amount_in_local_currency }}</td>
        <td>{{ item.Local_currency }}</td>
        <td>{{ item.percentage_value }}</td>
        <td>{{ item.Payment_type }}</td>
        <td>{{ item.directory_path }}</td>

        <td>
          <div *ngIf="!item.editing && item.showDetails; else editingMode">
            {{ item.details }}
          </div>
          <ng-template #editingMode>
            <span *ngIf="item.editing">
              <textarea [(ngModel)]="item.updatedDetails" rows="15" cols="25"></textarea>
              <button (click)="saveDetails(item)">Save</button>
              <button (click)="cancelEditing(item)">Cancel</button>
            </span>
          </ng-template>
          <br>
          <button (click)="toggleEditingMode(item)">Edit</button>
          <button (click)="toggleDetailsVisibility(item)">Show</button>
          <button (click)="openPDFViewerPopup(item.directory_path, item.details)">Open PDF in New Window</button>
        </td>
        <td>
          <button (click)="updateMultiplePayment(item)">+</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>



<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
    <button (click)="closePopup()">Close</button>
    <!-- PDF viewer component -->
    <app-example-pdf-viewer [pdfSrc]="selectedPDF"></app-example-pdf-viewer>
  </div>
</div>
