<div class="main-wrapper">
  <header>
    <h1>Mobile Basic Matrix</h1>
    <h2>Find your focal license in The Matrix below:</h2>
  </header>

  <div class="content">
    <div class="table-container">
      <!-- Table goes here -->
      <table>
        <thead>
          <tr>
            <th class="empty-header"></th>
            <th *ngFor="let licensee of displayLicensees" class="vertical-header">
              {{ licensee }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let licensor of licensors; let rowIndex = index">
            <td class="row-name">
              <span class="licensor-link" (click)="showPopup(licensor)">
                {{ licensor }}
              </span>
            </td>
            <td
              *ngFor="let cell of filteredTableData[rowIndex]; let colIndex = index"
              [ngClass]="{
                'green-cell': cell === 'green',
                'white-cell': cell === 'white',
                'red-cell': cell === 'red',
                'transparent-cell': cell === 'transparent'
              }"
              (click)="cellClick(rowIndex, colIndex)"
              [title]="getCellDescription(rowIndex, colIndex)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Popup Overlay -->
<div *ngIf="isPopupVisible" class="popup-overlay">
  <div class="popup-content">
    <button class="btn-close" (click)="hidePopup()">&#x2715;</button>
    <app-timeline-overview
      *ngIf="selectedLicensor"
      [licensor]="selectedLicensor"
      [hideSelectInput]="true">
    </app-timeline-overview>
  </div>
</div>
