/* Custom Chrome-like tab styles */
.custom-tabs {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; /* Remove bottom margin */
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}

#plotDiv {
  margin-top: 0 !important; /* Remove any top margin if present */
  padding: 0 !important; /* Remove padding if needed */
}


.custom-tabs .nav-item {
  margin-bottom: -1px;
}

.custom-tabs .nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  background-color: #f8f9fa;
  color: #495057;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  top: 1px;
  user-select: none; /* Prevent text selection */
  cursor: pointer;   /* Show hand cursor */
  text-decoration: none;
}

.custom-tabs .nav-link.active {
  background-color: #fff;
  border-color: #ddd #ddd transparent;
  color: #007bff;
  font-weight: bold;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.custom-tabs .nav-link:hover {
  background-color: #e9ecef;
  color: #007bff;
}

.custom-tabs .nav-link:focus {
  outline: none;
}

/* Content container */
.chart-controls {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  padding: 10px 0;
  text-align: center;
  gap: 10px; /* Adds spacing between the label and dropdown */
}


.chart-controls label {
  margin-right: 10px;
  font-weight: bold;
}

.chart-controls select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.loading-content {
  text-align: center;
  color: black;
  font-family: Arial, sans-serif;
}

.loading-gif {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

#plotDiv {
  width: 100%;
  height: 100%;
}

.plot-container {
  position: relative;
  width: 100%;
  height: 600px; /* Adjust based on your chart's size */
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 234, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-gif {
  width: 300px; /* Adjust size as needed */
  height: 300px;
}

.loading-text {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9); /* Light background for text visibility */
  padding: 5px 10px;
  border-radius: 6px;
  text-align: center;
  margin-top: -100px; /* Bring the text 1px closer to the GIF */
}
