<div class="container">
  <h2>Payments List</h2>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <div *ngIf="payments.length === 0 && !error" class="alert alert-info">
    No payments found.
  </div>

  <table class="table table-striped" *ngIf="payments.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Snippet ID</th>
        <th>Licensor</th>
        <th>Licensee</th>
        <th>Year</th>
        <th>Quarter</th>
        <th>Payment Amount</th>
        <th>Equation Type</th>
        <th>Equation</th>
        <th>Equation Result</th>
        <th>Advanced Equation Type</th>
        <th>Advanced Equation</th>
        <th>Coefficient</th>
        <th>Advanced Equation Type Result</th>
        <th>Advanced Equation Result</th>
        <th>Results</th>
        <th>Nested Equation </th>
        <th>Nested Equation Result</th>
        <th>Royalty Rates</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments" (click)="selectPayment(payment)">
        <td>{{ payment.id }}</td>
        <td>{{ payment.snippet_id }}</td>
        <td>{{ payment.licensor }}</td>
        <td>{{ payment.licensee }}</td>
        <td>{{ payment.year }}</td>
        <td>{{ payment.quarter }}</td>
        <td>{{ payment.payment_amount }}</td>
        <td>{{ payment.eq_type }}</td>
        <td>{{ payment.equation }}</td>
        <td>{{ payment.eq_result }}</td>
        <td>{{ payment.adv_eq_type }}</td>
        <td>{{ payment.adv_equation }}</td>
        <td>{{ payment.coef }}</td>
        <td>{{ payment.adv_eq_type_result }}</td>
        <td>{{ payment.adv_eq_result }}</td>
        <td>{{ payment.results }}</td>
        <td>{{ payment.nested_eq }}</td>
        <td>{{ payment.nested_eq_result}}</td>
        <td>{{ payment.royalty_rates }}</td>
      </tr>
    </tbody>
  </table>


  <!-- Debugging information -->
  <div class="mt-4">
    <h4>Debugging Information</h4>
    <pre>{{ debugInfo }}</pre>
  </div>
</div>
