<div class="container">
  <div class="frand-container">
    <a href="https://www.figma.com/proto/NZyzXthTp6je1e3Io1QvX5/FRANDLY-platform-visual-mockup?page-id=834%3A3898&node-id=834-4464&viewport=-4742%2C702%2C0.5&t=Xwpxn88lOj1d8tH5-8&scaling=scale-down&hide-ui=1"
      class="rec grey-square center-button">
      <h1>FRAND</h1>
    </a>
  </div>
  <div class="square-container"> <a routerLink="/mobile" class="square">
      <h1>Known Licenses</h1>
      <p></p>
    </a> <a routerLink="/revenues" class="square">
      <h1>Licensing Revenues</h1>
      <p class="grey-text"></p>
    </a> <a routerLink="/roi" class="square">
      <h1>Devices</h1>
      <p class="grey-text"></p>
    </a> </div>
  <div class="square-container"> <a routerLink="/sales" class="square">
      <h1>Product Market Sales</h1>
      <p></p>
    </a> <a routerLink="/ip-portfolios" class="square">
      <h1>Apportionment</h1>
      <p class="grey-text"></p>
    </a> <a routerLink="/library" class="square">
      <h1>Documents Library</h1>
      <p class="grey-text"></p>
    </a> </div>
  <section id="Background" class="Background">
    <div (click)="activeSquare($event)" class="Square"></div>
  </section>
</div>
