<div class="container">
    <a routerLink="/adv-mobile" class="rec grey-square center-button">
        <h1>FRAND</h1>
    </a>
    <div class="square-container">
        <a routerLink="/mobile" class="square">
            <h1>Payments</h1>
            <p></p>
        </a>
        <a routerLink="/ip-portfolios" class="square">
            <h1>Revenues</h1>
            <p class="grey-text"></p>
        </a>
        <a routerLink="/roi" class="square">
            <h1>GSMA</h1>
            <p class="grey-text"></p>
        </a>
    </div>
    <div class="square-container">
        <a routerLink="/ip-portfolios" class="square">
            <h1>Sales FORCAST</h1>
            <p></p>
        </a>
        <a routerLink="/ip-portfolios" class="square">
            <h1>TDOC Counting</h1>
            <p class="grey-text"></p>
        </a>
        <a routerLink="/ip-portfolios" class="square">
            <h1>LIBRARY</h1>
            <p class="grey-text"></p>
        </a>
    </div>
</div>