@font-face {
  font-family: 'ROG Fonts';
  src: url('src/assets/7032-fontps.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}

body {
  font-family: 'Nova Square', 'Poppins', cursive;
  background-color: #F2F1EA;
  -webkit-user-select: none; /* Prevent text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::selection {
  background: transparent; /* Remove text highlight */
}

/* Remove the black overlay */
body::after {
  display: none;
}

:host {
  display: block;
  height: 100vh;
  font-family: 'Nova Square', 'Poppins', cursive;
  background: var(--background-Color);
  color: #e1e1e1;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

:root {
  --Text-Color: #e1e1e1;
  --background-Color: #F3F2EB;
  --square-color: #26c245;
}
@keyframes hue-rotation {
  0% {
    background-color: #DBDBDB; /* Grey */
  }
  25% {
    background-color: #e54545; /* Red */
  }
  50% {
    background-color: #FFA500; /* Orange */
  }
  75% {
    background-color: #4CAF50; /* Green */
  }
  100% {
    background-color: #DBDBDB; /* Back to Grey */
  }
}
