<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Your head content here -->
</head>

<body>
  <br>
  <h2>These are the features and services our platform offers:</h2>
  <div class="h2-container">
    <!-- Your content here -->
  </div>

  <div class="square-container">
    <a routerLink="/far-licences" class="square">
      <h1>FRAND Licenses</h1>
      <p>A patent relevant to a technology standard is called a standard essential patent (SEP), with holders typically
        committing to FRAND licensing terms.</p>
    </a>
    <a routerLink="/ip-portfolios" class="square grey-square">
      <h1 class="grey-text">IP Portfolios</h1>
      <p class="grey-text">An IP portfolio is a collection of intellectual property rights owned by an individual or
        entity.</p>
    </a>
    <a routerLink="/roi" class="square grey-square">
      <h1 class="grey-text">ROI</h1>
      <p class="grey-text">A measure used to evaluate the profitability of an investment by comparing the gains to the
        initial investment.</p>
    </a>
  </div>
</body>

</html>